# Framework Web and API
fastapi
uvicorn[standard]
python-multipart

# Database and ORM
sqlalchemy

# Image Processing and OCR 
pytesseract
opencv-python
numpy

# Environment Variables and Configuration
python-dotenv

# Convert PDF to image
pdf2image  
# requests   <-- Useful if you do tests from external scripts